<!DOCTYPE html>
<html lang="en">
<!-- Include header -->
<%- include('layouts/header'); -%>

    <body>
        <!-- Include opaque login navbar -->
        <%- include('layouts/login-navbar-opaque'); -%>

            <div class="container">
                <!-- Signup container with background -->
                <div id="neoBgn" class="p-4 signup-container">
                    <!-- Header for the profile page -->
                    <h1>Profile</h1>
                    <div>
                        <!-- Form to update user profile -->
                        <form action="/update-profile" method="post">
                            <!-- Name input field -->
                            <h5 class="topHeader5">Name</h5>
                            <input class="neoInput" type="text" name="name" value="<%= user.name %>" placeholder="Name"
                                required />

                            <!-- Password input field -->
                            <h5>Password</h5>
                            <input class="neoInput" type="text" name="password" value="<%= user.password %>"
                                placeholder="Password" required />

                            <!-- Security Question input field -->
                            <h5>Security Question</h5>
                            <input class="neoInput" type="text" name="security" value="<%= user.security %>"
                                placeholder="Security Question" required />

                            <!-- Answer input field -->
                            <h5>Answer</h5>
                            <input class="neoInput" type="text" name="answer" value="<%= user.answer %>"
                                placeholder="Answer" required />

                            <br><br>
                            <!-- Button wrapper with Submit and Logout buttons -->
                            <div class="button-wrapper">
                                <button class="custom-btn blue-to-purple" type="submit">Submit</button>
                                <a class="custom-btn-right blue-to-purple logoutButton" href="/logout">Logout</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Add some space after the container -->
            <div style="height: 200px;"></div>
    </body>

</html>