<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/login-navbar-opaque'); -%>
    <div class="container">
        <div id="neoBgn" class="p-4 signup-container">
            <h1>Profile</h1>
            <div>
                <form action="/update-profile" method="post">
                    <h5 class="topHeader5">Name</h5>
                    <input class="neoInput" type="text" name="name" value="<%= user.name %>" placeholder="Name" required />
                    <h5>Password</h5>
                    <input class="neoInput" type="text" name="password" value="<%= user.password %>" placeholder="Password" required />
                    <h5>Security Question</h5>
                    <input class="neoInput" type="text" name="security" value="<%= user.security %>" placeholder="Security Question" required />
                    <h5>Answer</h5>
                    <input class="neoInput" type="text" name="answer" value="<%= user.answer %>" placeholder="Answer" required />
                    <br><br>
                    <div class="button-wrapper">
                        <button class="custom-btn blue-to-purple" type="submit">Submit</button>
                        <a class="custom-btn-right blue-to-purple logoutButton" href="/logout">Logout</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="height: 100px;"></div>
</body>
</html>